body {
  background: black;
}

h1 {
  color: chartreuse;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px; /*2em é: 32px*/
}

h2 {
  color: royalblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px; /*1.5em é: 24px*/
}

img {
  width: 450px;
  height: 482px;
}
