body {
  background: black;
}

h1 {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}

button {
  background: black;
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
